@import "../../../scss/media.scss";


.root{
    @include breakpoint(md){
        font-size: 6px;
    }

    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top{
    display: none;
    background-color: #f5f5f52c;
    @include breakpoint(md) {
        display: flex;
    }
    padding: 0.3rem;
    height: 1rem ;
}

.show {
    @include breakpoint(md){
        display: flex!important;
        position: absolute;
        z-index: 999;
    }
}

.container {
    .left {
        @include breakpoint(md){
            display: none;
            position: absolute;
            z-index: 999;
            height: calc(100vh - 1.6rem);
        }

        display: flex;
        flex-direction: column;
        min-width: 20rem;
        max-width: 30rem;
        flex-grow: 1;
        background-color: #1f1e1e;
        color: white;


        .btn {
            flex-shrink: 0;

            &::before {
                font-weight: 800;
                font-size: large;
                margin: 10px;
                content: "+";
            }

            margin: 10px;
            padding: 10px;
            border: 1px solid #f5f5f52c;
            border-radius: 6px;
            height: 1.25rem;
            background-color: #010;
        }

        .setting {
            background-color: #1f1e1e;
            border: 1px solid rgb(100, 100, 95);
            padding: 5px;
            border-radius: 5px;

            &::before {
                margin: 10px;
                content: "*";
            }

            margin: 10px;
        }

        ul {
            flex-grow: 1;
            margin: 3px;
            padding: 0;
            list-style: none;
            overflow: auto;

            li {
                margin: 0.5rem;
                padding-left: 0.5rem;
                background-color: azure;
                color: black;
                border: 1px solid #f5f5f52c;
                border-radius: 6px;
                line-height: 2rem;
                position: relative;

                &::after {
                    position: absolute;
                    top: -5%;
                    right: 10px;
                    color: black;
                    content: "...";
                }
            }
        }
    }

    .content {


        display: flex;
        flex-direction: column;
        flex-grow: 2;
        background-color: #f5f5f5;
        .content-main {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin: 20px;
            padding: 10px;
            border-radius: 10px;
            background-color: white;

            .content-item {
                margin-top: 30px;
            }

            .left-message {
                display: flex;

                .left-message-img {
                    margin: 10px;
                    width: 3rem;
                    height: 3rem;
                }

                .left-message-body {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;

                    .left-message-name {
                        font-size: 0.5rem;
                    }

                    .left-message-context {
                        position: relative;
                        color: white;
                        border: 1px solid gray;
                        background-color: gray;
                        border-radius: 5px;
                        flex-grow: 1;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    }
                }

                .left-message-tail {
                    margin: 10px;
                    width: 3rem;
                    height: 3rem;
                }
            }

            .right-message {
                display: flex;
                flex-direction: row-reverse;

                .right-message-img {
                    margin: 10px;
                    width: 3rem;
                    height: 3rem;
                }

                .right-message-body {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;

                    .right-message-name {
                        font-size: 0.5rem;
                    }

                    .right-message-context {
                        position: relative;
                        ;
                        color: white;
                        border: 1px solid gray;
                        background-color: gray;
                        border-radius: 5px;
                        flex-grow: 1;
                        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                    }
                }

                .right-message-tail {
                    margin: 10px;
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        .content-title {
            align-self: center;
        }

        .submit {
            display: flex;
            height: 200px;
            margin:10px 30px;
            flex-direction: row;
            textarea {
                border: 2px solid grey;
                border-radius: 5px;
                background-color: #f8f8f8;
                padding: 10px;
                margin: 10px;
                flex-grow: 1;
                height: auto;
                min-height: 50px; 
                max-height: 200px; 
                height:auto;
                resize: vertical; 

                &:focus{
                    outline: none;
                    background-color: white;
                    border-color: blue; 
                    box-shadow: 0 0 10px blue;
                }
            }
            button{
                height: 2rem;
                background-color: aquamarine;
                border-radius: 4px;
                align-self: center;
            }
        }

    }
}
