.s-list .s-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin: 10px 0;

    .s-label {
        display: flex;
        padding: 10px;
        flex-grow: 1;
        align-items: stretch;
        flex-direction: column;
        justify-content: space-between;

        .s-title {
            div {
                width: 50vw;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            display: flex;
            font-size: 16px;
            font-weight: bold;
            padding: 2px;

        }

        .s-remark {
            display: flex;
            font-size: 10px;
            font-weight: lighter;
            width: 70%;
            white-space: pre-wrap;
            padding: 2px;
        }
    }

    .s-switch {
        display: flex;
        padding: 0 10px;
        flex-direction: row;
        align-items: center;
    }
}