
body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.display-none{
    display: none!important;
}

@mixin compact(){
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

